<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="LOG_PATTERN">%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Property>
        <Property name="LOG_DIR">log</Property>
        <Property name="LOG_FILE_NAME">app-${date:yyyy-MM-dd}.log</Property>
    </Properties>

    <Appenders>
        <Console name="STDOUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

        <File name="FILE" fileName="${LOG_DIR}/${LOG_FILE_NAME}">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </File>
    </Appenders>

    <Loggers>
        <Logger name="org.springframework.boot.autoconfigure.logging" level="INFO" additivity="false">
            <AppenderRef ref="FILE"/>
        </Logger>
        <Logger name="org.hibernate.SQL" level="WARN" additivity="false">
            <AppenderRef ref="FILE"/>
        </Logger>
        <Logger name="org.hibernate.type.descriptor.sql" level="WARN" additivity="false">
            <AppenderRef ref="FILE"/>
        </Logger>
        <Logger name="org.thymeleaf" level="WARN" additivity="false">
            <AppenderRef ref="FILE"/>
        </Logger>
        <Logger name="org.example" level="DEBUG" additivity="false">
            <AppenderRef ref="FILE"/>
        </Logger>
        <Root level="INFO">
            <AppenderRef ref="FILE"/>
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>
