<!-- src/main/resources/templates/fragments/header.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <div th:fragment="site-footer">
      <style>
        footer {
          position: fixed;
          left: 0;
          bottom: 0;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 1rem;
          font-size: smaller;
          background: #eee;
        }
      </style>
      <footer>Spring Boot App</footer>
    </div>
  </body>
</html>
