<!-- src/main/resources/templates/fragments/header.html -->
<div th:fragment="site-header">
  <header class="site-header">
    <h1><a th:href="@{/}" th:text="${appName}">Spring Boot App</a></h1>
    <nav>
      <ul>
        <li>
          <a
            th:href="@{/}"
            th:classappend="${requestUri == '/' ? 'active' : ''}"
          >
            Home
          </a>
        </li>
        <li>
          <a
            th:href="@{/books}"
            th:classappend="${requestUri == '/books' ? 'active' : ''}"
          >
            View Books
          </a>
        </li>
        <li>
          <a th:href="${swaggerUiPath}" target="_blank" class="external">
            Swagger API
          </a>
        </li>
        <li>
          <a th:href="${h2ConsolePath}" target="_blank" class="external">
            H2 Database
          </a>
        </li>
      </ul>
    </nav>
  </header>
</div>
